<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire Manager</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="icon" href="https://www.everplans.com/sites/default/files/everplans_favicon_0_0_0.png" type="image/png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.EQAssets = {
        logo: "<%= image_url("logo.png") %>",
        whitelogo: "<%= image_url("whitelogo.png") %>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
